PORT=8080
WORKER_COUNT=8
QUEUE_SIZE=1024
MAX_RETRIES=13
BASE_BACKOFF=1s
MAX_BACKOFF=1h
BREAKER_GC_INTERVAL=1h
BREAKER_GC_TTL=24h
FAILURES_THRESHOLD=5
OPEN_STATE_TIMEOUT=60s

# Avaiable options: tint (default), text, json
SLOG_OUTPUT_FORMAT=json
API_KEY=your-api-auth-key